<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.castsoftware.jenkins.CastAIPWS.CastJiraConnectorBuilder plugin="CastAIPWS@3.3">
      <castJiraLinkage>
        <com.castsoftware.jenkins.CastAIPWS.CastJiraLinkage>
          <appName>Webgoat</appName>
          <projName>SD_Demo</projName>
          <schemaName>version737_central</schemaName>
          <jiraIssueType>Bug</jiraIssueType>
          <jiraAssignee>nka</jiraAssignee>
        </com.castsoftware.jenkins.CastAIPWS.CastJiraLinkage>
      </castJiraLinkage>
      <castUserName>operator</castUserName>
      <castUserPassword>CastAIP</castUserPassword>
      <useDatabase>CSS</useDatabase>
      <databaseHost>localhost</databaseHost>
      <databaseName>postgres</databaseName>
      <databasePort>2280</databasePort>
      <jiraRestApiUrl>https://jira.castsoftware.com</jiraRestApiUrl>
      <jiraUser>nka</jiraUser>
      <jiraUserPassword>mdSi!3ty@06</jiraUserPassword>
      <debugEnabled>false</debugEnabled>
      <workFlow>Yes</workFlow>
      <returnValue>-1</returnValue>
    </com.castsoftware.jenkins.CastAIPWS.CastJiraConnectorBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>