<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.castsoftware.jenkins.CastAIPWS.CastAIPBuilder plugin="CastAIPWS@4.0">
      <dmtWebServiceAddress>http://nkaw8lap:9898/CastBatchWebService</dmtWebServiceAddress>
      <cmsWebServiceAddress>http://nkaw8lap:9898/CastBatchWebService</cmsWebServiceAddress>
      <appName>Webgoat</appName>
      <versionName>Version [TODAY]</versionName>
      <referenceVersion>5.0</referenceVersion>
      <castMSConnectionProfile>version737</castMSConnectionProfile>
      <castCentralDB>version737</castCentralDB>
      <da>true</da>
      <ad>true</ad>
      <ra>true</ra>
      <rs>true</rs>
      <archive>false</archive>
      <aaws>true</aaws>
      <rav>true</rav>
      <publish>true</publish>
      <workFlow>Yes</workFlow>
    </com.castsoftware.jenkins.CastAIPWS.CastAIPBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>