<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>START_AT</name>
          <description>Task # to start job at
1. Deliver Application
2. Accept Delivery
3. Run Analysis
4. Run Snapshot
When starting from step 2 on the CAST_DATE is required</description>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CAST_DATE</name>
          <description>This field is required when restarting an analysis midstream.  It must be in the format of MM/dd/yyyy HH:mm:ss and match up with an existing delivery.
2016/05/20 08:59:25</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.castsoftware.jenkins.CastAIPWS.CastAIPBuilder plugin="CastAIPWS@3.3">
      <dmtWebServiceAddress>http://nkaw8lap:9898/CastBatchWebService</dmtWebServiceAddress>
      <cmsWebServiceAddress></cmsWebServiceAddress>
      <appName>Webgoat</appName>
      <versionName>Version [TODAY]</versionName>
      <referenceVersion>5.0</referenceVersion>
      <castMSConnectionProfile>version737</castMSConnectionProfile>
      <da>false</da>
      <ad>false</ad>
      <ra>false</ra>
      <rs>false</rs>
      <archive>false</archive>
      <aaws>false</aaws>
      <workFlow>Yes</workFlow>
    </com.castsoftware.jenkins.CastAIPWS.CastAIPBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.NumericalComparisonCondition" plugin="run-condition@1.0">
        <lhs>${START_AT}</lhs>
        <rhs>1</rhs>
        <comparator class="org.jenkins_ci.plugins.run_condition.core.NumericalComparisonCondition$LessThanOrEqualTo"/>
      </runCondition>
      <conditionalbuilders>
        <com.castsoftware.jenkins.CastAIPWS.CastAIPDeliverBuilder plugin="CastAIPWS@3.3">
          <doValidation>true</doValidation>
        </com.castsoftware.jenkins.CastAIPWS.CastAIPDeliverBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.NumericalComparisonCondition" plugin="run-condition@1.0">
        <lhs>${START_AT}</lhs>
        <rhs>2</rhs>
        <comparator class="org.jenkins_ci.plugins.run_condition.core.NumericalComparisonCondition$LessThanOrEqualTo"/>
      </runCondition>
      <conditionalbuilders>
        <com.castsoftware.jenkins.CastAIPWS.CastAIPAcceptBuilder plugin="CastAIPWS@3.3">
          <doValidation>true</doValidation>
        </com.castsoftware.jenkins.CastAIPWS.CastAIPAcceptBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.NumericalComparisonCondition" plugin="run-condition@1.0">
        <lhs>${START_AT}</lhs>
        <rhs>3</rhs>
        <comparator class="org.jenkins_ci.plugins.run_condition.core.NumericalComparisonCondition$LessThanOrEqualTo"/>
      </runCondition>
      <conditionalbuilders>
        <hudson.tasks.BatchFile>
          <command>echo Batch here</command>
        </hudson.tasks.BatchFile>
        <com.castsoftware.jenkins.CastAIPWS.CastAIPAnalyzeBuilder plugin="CastAIPWS@3.3">
          <doValidation>true</doValidation>
        </com.castsoftware.jenkins.CastAIPWS.CastAIPAnalyzeBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <condition class="org.jenkins_ci.plugins.run_condition.core.NumericalComparisonCondition" plugin="run-condition@1.0">
        <lhs>${START_AT}</lhs>
        <rhs>4</rhs>
        <comparator class="org.jenkins_ci.plugins.run_condition.core.NumericalComparisonCondition$LessThanOrEqualTo"/>
      </condition>
      <buildStep class="com.castsoftware.jenkins.CastAIPWS.CastAIPSnapshotBuilder" plugin="CastAIPWS@3.3">
        <doValidation>true</doValidation>
      </buildStep>
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
    </org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>